.container-header {
  background-color: var(--card_gray);
  color: white;
  padding: 30px 0px;
}

.miContainer{
  display: flex;
  justify-content: space-between;
}

.botonPokedex{
  margin-left: 34.5%;
  margin-right: 34%;
}

.botonLogs{
  /* margin-left: 0%; */
}

